Totale : {{cocktails.length}}
<br/>
<div class="input-group mb-3">
    <label for="search"></label>
    <input #searchTerm="ngModel" ngModel type="search" class="form-control" name="search" id="search" placeholder="Inserisci termine ricerca.. " (keyDown.enter)="searchCocktails(searchTerm.value)">
    <div class="input-group-append">
        <button class="btn btn-outline-primary" type="button" id="button-addon2" (click)="searchCocktails(searchTerm.value)">Cerca</button>
    </div>
</div>

<table class="table table-hover table-inverse table-responsive">
    <thead class="thead-inverse">
        <tr>
            <th>id</th>
            <th>name</th>
            <th>image</th>
            <th>short desc.</th>
            <th>date</th>
        </tr>
    </thead>
    <tbody>



        <tr app-cocktail-item *ngFor="let curr_cocktail of cocktails" [cocktail]="curr_cocktail"></tr>

    </tbody>
</table>

<!-- <pre>{{cocktails | json}}</pre> -->